body{
    background-color: rgb(39, 164, 247);
}

div{
    background-color: rgb(20, 8, 185);
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:white;
    margin-left: 40%;
}

button{
    border: 5px outset rgb(17, 94, 1);
    background-color: rgb(43, 182, 15);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    
    
}
